body{
    background-color: black;
    color: white;
}

.dynamic-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

}

.pixel{
  height: 20px;
  width: 10px;
  position: absolute;
  background-color: white;
  animation: pixel 0.9s linear infinite;
}

@keyframes pixel {
  50% {
    opacity: 0;
  }
}

.hide {
    display: none;
}

.show {
    display: inline-block;
}