@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body{
    background-color: black;
    color: white;
}

main {
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 0.15em;
}

span {
    font-weight: 200;
}

.count-size{
    font-size: 4em;
}

button {
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    letter-spacing: 0.15em;
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
}

:disabled{
    color: grey;
}

input {
    color: white;
    background-color: black;
    border-color: white;
    letter-spacing: inherit;
}
/********** Theme Colours **********/
.ide-blue {
    color: #0096c7;
}

.ide-yellow {
    color: #ffec89;
}

.ide-pink {
    color: #d74894;
}

.ide-orange {
    color: #d58747;
}

.ide-green {
    color: #609b55;
}

.ide-cyan {
    color: #4dbdae;
}

.matrix {
    color: #03A062;
}

.cli {
    font-size: 0.75em;
    color: lightslategray;
    font-weight: 200!important;
}

a {
    text-decoration: none;
}

.mobile {
    max-height: 40vh;
    overflow-x: scroll;
    max-width: 100%;
}

.dynamic-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

}

.dynamic-center-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(65%);
    -webkit-transform: translateX(-50%) translateY(65%);
    transform: translateX(-50%) translateY(55%);

}

tr td:nth-child(1) {
    text-align: right;
}

tr td:nth-child(2) {
    border-left: dashed 0.5px;
    border-right: dashed 0.5px;
    padding: 0 1rem 0 1rem;
    text-align: center;
}

tr td:nth-child(3) {
    text-align: left;
}

.borders {
    border: dashed 0.5px;
}

div p {
    padding: 1rem;
}

.pixel{
  height: 20px;
  width: 10px;
  position: absolute;
  background-color: white;
  animation: pixel 0.9s linear infinite;
}

ul {
    list-style-type: none;
}

@keyframes pixel {
  50% {
    opacity: 0;
  }
}

.hide {
    display: none;
}

.show {
    display: inline-block!important;
}

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.border-fade {
  opacity:0;  
  animation:fadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:4s;
  animation-delay: 0.5s;
}
.course1-fade {
  opacity:0;  
  animation:fadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:4s;
  animation-delay: 23.5s;
}
.course2-fade {
  opacity:0;  
  animation:fadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:4s;
  animation-delay: 43.5s;
}